<!DOCTYPE html>
<html>
  <head>
  <title>Add Event</title>
  </head>
  <body>
    <h1>Canada Days Calculator</h1>
    <h2>Add a New Event</h2>
    <form action="/add_event" method="post">
  		From:&nbsp;<input type="date" name="date_from"><br>
  		To:&nbsp;<input type="date" name="date_to"><br>
  		Location:&nbsp;<input type="text" name="location"><br>
  		Description:&nbsp;<input type="text" name="description"><br>
  		<input type="submit" name="Submit">  	
    </form>
    <a href="/">Home</a>
  </body>
</html>