<!DOCTYPE html>
<html>
  <head>
  <title>Days Calculator</title>
  </head>
  <body>
    <h1>Canada Days Calculator</h1>
    <p>Welcome!</p>
    <ul>
    	<li><a href="/add_event">Add New Trip</a></li>
    	<li><a href="/show_history">Show Travel History</a></li>
    </ul>
  </body>
</html>