<!DOCTYPE html>
<html>
  <head>
  <title>Days Calculator</title>
  </head>
  <body>
    <h2>Welcome!</h2>
    <form id="main_menu" action="/results" method="get">
    	<label>
        <input type="radio" name="application_type" value="Residency_Renewal" checked>
        Residency Renewal<br>
      </label>
    	<label>
        <input type="radio" name="application_type" value="Citizenship">
        Apply for Citizenship<br>
      </label>
      <label>
        <input type="radio" name="application_type" value="Citizenship_new">
        Apply for Citizenship (new law)<br>
      </label>
      <input type="submit" name ="Submit">
    </form>
  </body>
</html>