<!DOCTYPE html>
<html>
	<head>
		<title>Days Calculator</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/stylesheet.css">
	</head>

	<body>
		<header>
			<h1>Canada Days Calculator</h1>
			<img src="http://www.crossed-flag-pins.com/animated-flag-gif/gifs/Canada_240-animated-flag-gifs.gif" alt="mme">
			<nav id="menu">
				<ul id="nav">
					<a href="/"><li>Home</li></a>
					<a href="/add_event"><li>Add Event</li></a>
					<a href="/"><li>Modify Event</li></a>
					<a href="/"><li>Delete Event</li></a>
					<a href="/show_history"><li>See All Events</li></a>
				</ul>
			</nav>
		</header>
		<main>
			<%= yield %>
		</main>
	</body>
</html>