<!DOCTYPE html>
<html>
	<head>
		<title>Days Calculator</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/stylesheet.css">
	</head>

	<body>
		<header>
			<h1>Canada Days Calculator</h1>
			<img src="http://www.crossed-flag-pins.com/animated-flag-gif/gifs/Canada_240-animated-flag-gifs.gif" alt="mme">
			<nav>
				<ul id="nav">
					<li><a href="/">Home</a></li>
					<li><a href="/add_event">Add Event</a></li>
					<li><a href="/">Modify Event</a></li>
					<li><a href="/">Delete Event</a></li>
					<li><a href="/show_history">See All Events</a></li>
				</ul>
			</nav>
		</header>
		<main>
			<%= yield %>
		</main>
	</body>
</html>