<!DOCTYPE html>
<html>
	<head>
		<title>Days Calculator</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/stylesheet.css">
	</head>

	<body>
		<header>
			<h1>Canada Days Calculator</h1>
			<img id="flag" src="http://www.crossed-flag-pins.com/animated-flag-gif/gifs/Canada_240-animated-flag-gifs.gif" alt="mme">
		</header>
		<nav id="menu">
			<ul id="nav">
						<!-- Home -->
				<a href="/"><li class="nav">Home</li></a><!-- 
						Add Event 		
				--><a href="/add_event"><li class="nav">Add Event</li></a><!-- 
						Modify Event 		
				--><a href="/"><li class="nav">Modify Event</li></a><!-- 
						Delete Event 		
				--><a href="/"><li class="nav">Delete Event</li></a><!-- 
						See all Events 		
				--><a href="/show_history"><li class="nav">See All Events</li></a>
			</ul>
		</nav>
		<main>
			<%= yield %>
		</main>
	</body>
</html>