<!DOCTYPE html>
<html>
  <head>
  <title>Show History</title>
  </head>
  <body>
    <h1>Canada Days Calculator</h1>
    <h2>Travel History</h2>
    <table>
    	<thead>
    		<tr>
    			<th>From</th><th>To</th><th>Location</th><th>Description</th>
    		</tr>
    	</thead>
          <% @events.each  do |event| %>
            <tr>
              <td><%= event.date_from  %></td>
              <td><%= event.date_to  %></td>
              <td><%= event.location  %></td>
              <td><%= event.description  %></td> 
            </tr> 
          <% end %>
    	<tbody>
    		
    	</tbody>
    </table>
    <a href="/">Home</a>
  </body>
</html>